html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  background: no-repeat;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#16222A), to(#3a6073));
  background-image: linear-gradient(to top right, #16222A, #3a6073); }

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 1 / 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav-logo__link {
    font-size: 3rem; }
  .nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center; }
    .nav-list__item {
      font-size: 2.2rem;
      margin: auto 2.5rem; }
      .nav-list__item__link {
        text-decoration: none;
        color: #d5d7d8;
        vertical-align: middle; }

.headline {
  justify-self: center;
  grid-row: 2 / 3;
  color: #d5d7d8; }
  .headline__title {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.5rem; }
  .headline__subtitle {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300; }

.social {
  justify-self: center;
  grid-row: 3 / 4; }
  .social-title {
    color: #d5d7d8;
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2.5rem; }
  .social-list {
    list-style: none;
    margin: 0 0 6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .social-list__item {
      font-weight: 400;
      margin: 0 .75rem; }
      .social-list__item__link {
        text-decoration: none;
        color: #d5d7d8;
        vertical-align: middle; }

