//COLOR VARIABLES
$bg-gradient-start: #16222A;
$bg-gradient-end: #3a6073;
$white: #d5d7d8;
//FONT VARIABLES
$font-primary: 'Heebo', sans-serif;

//RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

html {
    box-sizing: border-box;
    font-size: 10px; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

//RESPONSIVE BREAKPOINTS

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    background: cover;
    background-image: linear-gradient(to top right, $bg-gradient-start, $bg-gradient-end);
}
#app {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
    justify-content: center;
}

/*transitions fades*/
.fade-appear {
    opacity: 0;
  }
  
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit-done {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}