.contact {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    color: $white;

    &-title {
        align-self: end;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &-info {
        align-self: start;
        display: grid;
        justify-content: center;
        font-size: 2.2rem;
        font-weight: 300;
        text-align: center;
    }
    &--mail, &--phone{
        margin-bottom: 2rem;
    }
}