.nav {
    top: 0; 
    grid-row: 1/2;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium) {
        background-color: rgba(#333, .25);
    }
    
    &-logo {    

        &__icon {
            max-height: 45px;
            max-width: 45px;
            
            text {
                text-anchor: middle;
            }
            
            #overlay {
                fill: $white;
                opacity: .75;
            }
            #text {
                font-size: 30px;
                font-weight: 500;
                letter-spacing: -2px;
            }
              
            #r {
                fill: $white;
                mask: url(#mask);
            }
        }

    }

    &-list{
        list-style: none;
        display: flex;
        //justify-content: space-around;
        //align-items: stretch;
        @media only screen and (max-width: $bp-small) {
            flex-grow: 1;
            justify-content: space-between;
        }
        &__item{
            font-size: 2.2rem;
            @media only screen and (max-width: $bp-small){
                width: 100%;
            }

            &__link {
                display: block;
                padding: 0 2.5rem;
                text-decoration: none;
                text-align: center;
                color: $white;
                height: 45px;
                line-height: 45px;
                transition: all ease-in-out .3s;

                @media only screen and (max-width: $bp-small) {
                    color: #fff;
                    padding: 0 auto;
                }
                
                @media only screen and (max-width: 375px){
                    padding: 0;
                }
            }
            &__link:hover {
                color: #fff;
                background-color: rgba($white, .5);
            }     
        }
    }
}

.selected {
    color: #fff;
    background-color: rgba($white, .5);
}