.nav {
    display: flex;
    grid-row: 1 / 2;
    justify-content: space-between;
    
    &-logo {    

        &__icon {
            max-height: 45px;
            max-width: 45px;
            
            text {
                text-anchor: middle;
            }
            
            #overlay {
                fill: $white;
                opacity: .75;
            }
            #text {
                font-size: 30px;
                font-weight: 500;
                letter-spacing: -2px;
            }
              
            #r {
                fill: $white;
                mask: url(#mask);
            }
        }

    }

    &-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-content: center;

        &__item{
            font-size: 2.2rem;
            margin: auto 2.5rem;

            &__link {
                text-decoration: none;
                color: $white;
                padding-top: 3rem;
                vertical-align: baseline;
            }
            
        
        }
    }
}