.nav {
    display: flex;
    grid-row: 1 / 2;
    justify-content: space-between;
    
    &-logo {
        
        &__link {
            //background-color: rgba(213, 215, 216, 0.5);
            font-size: 3rem;
        }

        &__icon {
            max-height: 45px;
            max-width: 45px;
        }

    }

    &-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-content: center;

        &__item{
            font-size: 2.2rem;
            margin: auto 2.5rem;

            &__link {
                text-decoration: none;
                color: $white;
                vertical-align: middle;
            }
            
        
        }
    }
}